@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

. {
    margin:0;
    padding:0;
}

html {
    font-size: 16px;
}

body {
    text-align:center;
    background-color: #663399;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: Arvo, serif;
    font-weight: bold;
    font-size: 3rem;
    color: #0f380f;
    margin: 0.75rem;
}

h2 {
    font-family: Arvo, serif;
    font-weight: normal;
    font-size: 2rem;
    color: #0f380f;
    margin: 0.75rem;
}

h3 {
    font-family: Arvo, serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #0f380f;
    margin: 0.5rem;
}

p, li {
    font-family: Lato, sans-serif;
    font-size: 1rem;
    color: #306230;
    margin-bottom: 0.5rem;
}

li {
    font-style: italic;
}

.site-container{
    background-color: #eeeeee;
    border-radius: 10px;
    max-width: 1000px;
    margin: 2rem 1rem;
    padding-top: 2rem;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#prof-elm {
    height: 100%;
    width: auto;
}

@media only screen and (max-width:600px) {
    #prof-elm {
        display:none;
    }
}

.what-we-do{
    display:flex;
    min-height: 100px;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:600px) {
    .what-we-do{
        flex-direction: column;
        align-items: flex-start;
    }
}

.what-we-do-content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    max-width: 700px;
    text-align: justify;
    padding: 0.5rem 1rem;
    min-height: 200px;
}

.what-we-do-header{
    text-align: justify;
    max-width: 200px;
}

.starting-pokemon {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.starting-pokemon h2{
    margin-bottom:2rem;
}

.pokemons {
    display:flex;
    max-width: 750px;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    height: 300px;
    margin: 1rem;
}

.chikorita {
    background-color: #A7DB8D;
    border: 3px solid #4E8234;
}

.cyndaquil {
    background: #F5AC78;
    border: 3px solid #9C531F;
}

.totodile {
    background: #9DB7F5;
    border: 3px solid #445E9C;
}

.pokemon img{
    height: 100px;
    width: 100px;
}

.desc{
    background-color: white;
    border-radius: 5px;
    margin: 0 0.5rem;
    height: 6rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    max-width: 12rem;
}

.desc p{
    line-height: 1.1rem;
    font-style: italic;
}

.characters {
    display:flex;
    min-width: 90%;
    justify-content: center;
    flex-wrap: wrap;
}

.character {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #aaaaaa;
    background-color: #cccccc;
    height: 300px;
    margin: 1rem;
    padding: 0.5rem;
    min-width: 200px;
}

.character-img {
    height: 200px;
    display: block;
}

.character-img img {
    max-height: 100%;
    width:auto;   
}

.locations {
    display:flex;
    min-width: 90%;
    justify-content: center;
    flex-wrap: wrap;
}

.location {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #aaaaaa;
    background-color: #cccccc;
    height: 250px;
    margin: 1rem;
    padding: 0.5rem;
    min-width: 200px;
}

.location img{
    height:200px;
}

footer p{
    font-style: italic;    
}